@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-accent: #94e2d5;
	--color-foreground: #cad3f5;
	--color-overlay: #11111b;
	--color-background: #1e1e2e;
}

body {
	/* 1. Layout */
	@apply flex h-dvh w-dvw flex-col items-center justify-between gap-0 overflow-x-hidden overflow-y-auto bg-background text-base text-foreground max-sm:text-sm;
	font-family: 'Chakra Petch', monospace;
}

@layer components {
	.square-framed {
		@apply relative px-8 py-6;

		/* The "Start" Square (Top Left) */
		&::before {
			content: '';
			@apply absolute top-0 left-0 size-3 bg-accent;
			/* Optional: adds a soft glow to match your backdrop-blur theme */
			@apply shadow-[0_0_10px_rgba(198,160,246,0.5)];
		}

		/* The "End" Square (Bottom Right) */
		&::after {
			content: '';
			@apply absolute right-0 bottom-0 size-3 bg-accent;
			@apply shadow-[0_0_10px_rgba(198,160,246,0.5)];
		}
	}
}
